NISTADS/resources/database/metadata/*
NISTADS/resources/database/inference/*
NISTADS/resources/database/validation/*
NISTADS/resources/checkpoints/*

!NISTADS/commons/assets/*
NISTADS/setup/python/*
NISTADS/setup/git/*

__pycache__
*.vscode
*.jpeg
*.jpg
*.png
*.db
*.log
*.npy
*.json
*.egg-info
!.gitkeep