NISTADS/resources/database/metadata/*
NISTADS/resources/inference/*
NISTADS/resources/checkpoints/*

setup/environment/*
setup/miniconda/*
setup/variables/.env

__pycache__
*.log
*.db
*.egg-info
!.gitkeep