NISTADS/resources/database/metadata/*
NISTADS/resources/database/inference/*
NISTADS/resources/database/validation/*
NISTADS/resources/checkpoints/*

!NISTADS/commons/assets/*
NISTADS/app/python/*
NISTADS/app/git/*

__pycache__
*.jpeg
*.jpg
*.png
*.db
*.log
*.npy
*.egg-info
!.gitkeep